
.menu-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 8rem;
    scroll-margin-top: 8rem;
}

.menu-title {
    text-transform: uppercase;
    font-weight: light;
    color: var(--bs-secondary-color);
    font-size: .85rem;
}


.footer {
    font-size: .825rem;
}

.footer,
.footer a {
    color: var(--bs-secondary-color);
}