.logo a {
    flex-direction: row !important;
    display: flex;
}

.logo img {
    max-height: 120px;
}

.menu-title,
.menu-page>h2 {
    text-transform: uppercase;
    font-weight: light;
    color: var(--bs-secondary-color);
    font-size: .85rem;
}


.anchor {
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
    font-weight: 400;
}


#toc ul {
    padding: 0;
    margin: 0 0 2rem 0;
    list-style: none;
    ;
}

#toc ul li {
    padding: 0.25rem 0;
}

#toc ul li a {
    display: block;
    text-decoration: none;
}

#toc ul li:hover {
    background-color: #f8f9fa;
}
.btn-action{
    margin: 3rem 0 1rem;
}
.footer {
    font-size: .825rem;
}

.footer,
.footer a {
    color: var(--bs-secondary-color);
}